# Ignore the dataset folder
# IMPORTANT: make sure that your dataset is stored in a
# folder with the same name as the one specified below!

student_data/*
sample_submission.csv
Data
*.zip
__pycache__
real_reg
output
gen_images
logs
*.pyc
*.ckpt
lora-trained-xl
.DS_Store
codalab_output
.vscode
submission