diffusers
transformers
accelerate
torch
torchvision
opencv-python
pyrallis
numpy
Pillow
gradio
einops
supervision
peft
flash_attn
git+https://github.com/openai/CLIP.git
git+https://github.com/VectorSpaceLab/OmniGen.git
git+https://github.com/IDEA-Research/GroundingDINO.git
spaces
isort